[Desktop Entry]
Type=Application
Name=Fragmentarium-2.5.6-220313
Comment=Experimental GLSL IDE An integrated environment for exploring GPU pixel graphics.
TryExec=Fragmentarium-2.5.6
Exec=Fragmentarium-2.5.6-220313
Icon=FragMicon
NoDisplay=false
Path=./
StartupNotify=true
Terminal=false
Categories=Development;
X-KDE-SubstituteUID=false
